@media (min-width: 990px) {
    .container {
        height: auto;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(6,1fr) 200px;
        display: grid;
        grid-template-areas:
            "item-2 item-2 item-1 item-1"
            "item-2 item-2 item-1 item-1"
            "item-3 item-5 item-5 item-8"
            "item-3 item-5 item-5 item-8"
            "item-4 item-7 item-7 item-8"
            "item-4 item-7 item-7 item-8"
            "item-6 item-9 item-10 item-10"
        ;
    }

    /** item-1 */
    .item-1 {
        padding: 0;
    }

    .block-1-one {
        height: 180px;
        width: 400px;
    }

    /** item-2 */
    .item-2 {
        flex-direction: row;
    }

    /** item-4 */
    .item-4 {
        padding-block: 0;
    }

    /** item-5 */
    .item-5 {
        flex-direction: row;
        padding-bottom: 0;
        justify-content: space-around;
    }

    .block-5 {
        width: 25%;
        margin: 0;
    }

    .contant2-block-5 {
        width: 40%;
    }

    .image-block-5 img {
        max-width: 450px;
    }

    /** item-7 */
    .item-7 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .image-block-7 img {
        right: 35px;
    }

    /** item-10 */
    .item-10 {
        flex-direction: row;
        padding: 0px 44.9583px;
    }

    .image-block-10 {
        width: 50%;
    }

    .text-block-10 h3 {
        text-align: start;
    }
}